{% extends "home/base.html" %}

{% block title %}
Home| Learning Django
{% endblock %}

{% block body %}
	{% if request.user.is_authenticated %}
		<h3> Thank you for loggin in, {{ request.user.username }}</h3>
		<a href = "/logout/">LOGOUT</a>
	{% else %}
		<h3>Please Log in :</h3>
		<form method = "POST" action = "/login/">
			{% csrf_token %}
			<input type = "text" name = "username" placeholder="Enter your username">
			<input type = "password" name = "password" placeholder="Password">
			<button type = "submit" name = "submit" value = "submit">Log in</button>
		</form>
	{% endif%}
{% endblock %}